.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

input {
  height: min-content;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-left: 20px;
  font-family: 'Righteous', cursive; 
  font-weight: lighter;
}